html {
  background: url(http://static.hdw.eweb4.com/media/thumbs/1/61/601744.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Start Button For Go Back Button! */

.GoBack {
	background-color:#44c767;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:11px;
	padding:12px 8px;
	text-decoration:none;
}
.GoBack:hover {
	background-color:#5cbf2a;
}
.GoBack:active {
	position:relative;
	top:1px;
}

/* End Of Button Go Back! */

/* Start Code For PVP Button! */

.PVP {
	background-color:#44c767;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:19px;
	padding:7px 28px;
	text-decoration:none;
}
.PVP:hover {
	background-color:#5cbf2a;
}
.PVP:active {
	position:relative;
	top:1px;
}

/* End Code For PVP Button! */

/* Start Code For Survival Button! */

.Survival {
	background-color:#44c767;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:19px;
	padding:7px 28px;
	text-decoration:none;
}
.Survival:hover {
	background-color:#5cbf2a;
}
.Survival:active {
	position:relative;
	top:1px;
}

/* End Code For Survival Button! */

/* Start Code For Mini games Button! */

.MiniGames {
	background-color:#44c767;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:19px;
	padding:7px 28px;
	text-decoration:none;
}
.MiniGames:hover {
	background-color:#5cbf2a;
}
.MiniGames:active {
	position:relative;
	top:1px;
}

/* End Code For MiniGames Button! */

/* Start Code For ParKour Button! */

.Parkour {
	background-color:#44c767;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:19px;
	padding:7px 28px;
	text-decoration:none;
}
.Parkour:hover {
	background-color:#5cbf2a;
}
.Parkour:active {
	position:relative;
	top:1px;
}

/* End Code For Parkour Button! */

/* Start Code For Adventure Button! */

.Adventure {
	background-color:#44c767;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:19px;
	padding:7px 28px;
	text-decoration:none;
}
.Adventure:hover {
	background-color:#5cbf2a;
}
.Adventure:active {
	position:relative;
	top:1px;
}


/* End Code For Andventure Button! */
